In [1]:
123+143

266

In [2]:
a = "kalya" + "i"
a

'kalyai'

In [4]:
a = 1.23
a

1.23

In [13]:
# len(str(2**10000))
import math
a = math.sqrt(10)
a
math.pi

3.141592653589793

In [132]:
ss = "spam"
ss[1:3]

#strings are immutable
kal = "kalyan"
kal*5
line = 'kalyan is a good boy'
line.upper()
line.isalpha()

#string formating
"%s is a %s boy" % ('kalyan', 'good')

"{0} is a good {1}" .format("kalyan", "good")

'a\nb\nc'

l1 = [5,4, 3, 2, 1]
l1.sort()
l1.reverse()
l2 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
row = len(l2)
col = len(l2[0])
print(row, col)
{sum(row) for row in l2}
list(map(sum, l2))

# x = 4;
# while(x > 0):
#     print("*" * x)
#     x-=1
for i in range(0, 3):
    for j in range(0, 3):
        print('*', end=' ')
    print("\n")

a = [1, 2, 3, 4]
x = "str"
y = "kal"
tuple(x+y)

3 3
* * *

* * *

* * *

('s', 't', 'r', 'k', 'a', 'l')

In [136]:
#classes
class worker:
    def __init__(self, name, age):
        self.name = "kalyan"
        self.age = 21
    def setName(self, name):
        self.name = name
kalyan = worker("kalyan", 21)
#here iam accessing the class variables directly so by default 
#they are declared as public

kalyan.name
kalyan.age

kalyan.setName("nagalakshmi")
kalyan.name

#round function

'nagalakshmi'

In [148]:
a = 0o23
sum((1, 2, 3, 4))
pow(2, 4)

print('a\nb\tc')

a
b	c

In [3]:
a = 10
print(_)

In [23]:
import numpy as np
#fixed type arrays
import array

l = list(range(10))
a = array.array('f', l)
a

np.array([1, 2, 3, 4, 5] , dtype = 'float32')

np.array([range(i, i+3) for i in [2, 4, 5]])
np.arange(0, 20, 2)

#for to create a 3x3 matrix of uniformly distributed random values from 0 to 1
np.random.random((3, 3))

#normally distributed means mean = 0 and standard deviation is 1
np.random.normal(0, 1, (3, 3))

np.random.randint(0, 10, (3, 3))

np.eye(3)  #here i will give an identity matrix
np.empty((3, 3))

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [60]:
import numpy as np
np.random.seed(0)

x1 = np.random.randint(10, size = 6)
x1

#x2 = np.random.randint(10, size = (4, 4), dtype = 'int64')
x2
print(x2.ndim)
print(x2.size)
print(x2.shape)
print(x2.dtype)

#for to create the arrays
print(x1)
print(x2)
#array slicing
x1[::-1]
x2[::-1, ::-1] #2rows 3 columns
#reshaping of array

a = np.arange(1, 10).reshape(3, 3)
a #for this to work the size of the array must match the reshape size
#array concatenation

c = np.array([1, 2, 3, 4])
d = np.array([4, 3, 3])
e = np.concatenate([c, d])
np.vstack([e, e])
np.add(c, 10)
np.subtract(c, 10)

2
16
(4, 4)
int64
[5 0 3 3 7 9]
[[3 5 2 4]
 [7 6 8 8]
 [1 6 7 7]
 [8 1 5 9]]

array([-9, -8, -7, -6])

In [69]:
#pandas
import pandas as pd
data = pd.Series([2, 1,3 ,4, 5, 5])
data.values
data.index

#we can also put the index like this
a = pd.Series([2, 3, 4, 5, 7], index = ['a' ,'b', 'c', 'd', 'e'])
a

#we can also convert the dictionary into dataFrame

data = [{'a' : i, 'b':2*i} for i in range(3)]
pd.DataFrame(data)

pd.DataFrame(np.random.rand(3, 2), columns = ['foo', 'bar'] ,index = ['a', 'b', 'c'])

        foo       bar
a  0.623564  0.384382
b  0.297535  0.056713
c  0.272656  0.477665